header,
.post:not(:last-child), .post {
  border-bottom: 1px solid #ccc ;
  color: whitesmoke ;
  background-color: #212F3D;
}

header {
  background-color: #212F3D;


}


.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #C0392B;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #C0392B;
  text-decoration: underline;
}

.display-flex.justify-space-between.align-center.p-2 {
  color: white !important;
}

.red {
  color:white;
}

.form.login-form , .form.signup-form{
  color:whitesmoke;
}

